.nav{
    width: 100%;
    display: flex;
    margin-bottom: 0;
}
.nav img{
    width: 20%;
}
.navIcons{
    width: 80%;
    margin-top: 50px;
}
.navIcons ul{
    width: 80%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color: #fff;
}